{% extends "appOne/base.html" %}
{% load staticfiles %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">
        <h1>List of Chapters</h1>
        <li><p style="text-align:right"><a href="{% url 'appOne:add_chapter'%}">Add chapter (not functional yet)</a></p></li>
        <h3>Details about the new module.</h3>

        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" name="" value="Add Chapter">
        </form>

    </div>

  </div>

{% endblock %}