{% extends "appOne/base.html" %}
{% load staticfiles %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">
        <h1>List of Questions</h1>
          {% for question in question_list %}
              <h3>{{question.question_name}} <a href="{% url 'appOne:delete_question' question_name=question.question_name chapter_name=chapter_name module_pk=module_pk %}">Delete</a></h3>

          {% endfor %}

        <a href="{% url 'appOne:add_question' pk=module_pk pq=chapter_name %}">Add Question </a>
    </div>
  </div>
{% endblock %}
