{% extends "appOne/index.html" %}
{% load staticfiles %}

{% block nav_bar %}
<li><a class="navbar-link" href="{% url 'appOne:manage_module'%}">Manage Module</a></li>
{% endblock %}
{% block body_block %}
<div class="container">
    <div class="jumbotron">
        <h1>List of modules</h1>
            {% load index %}
            {% for module in module_list %}
                <h3>{{module.module_name}} <a> Delete </a> </h3>
                {% for chapter in chapters_all_mods|index:forloop.counter0 %}
                    <h5>{{ chapter.chapter_name }}</h5>
                {% endfor %}
            {% endfor %}
    </div>
  </div>
{% endblock %}
