{% extends "appOne/base.html" %}
{% load staticfiles %}

<!-- {% block nav_bar %}
{% endblock %} -->

{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Start Chapter</h1>
        {% for question in qn_list %}
            <h3><a href="{{ question.get_absolute_url }}">{{question.question_name}} </a>
            </h3>
        {% endfor %}
        <a href="{% url 'appOne:view_result' m_name=m_name ch_name=ch_name %}"> View Results </a>
    </div>
  </div>
{% endblock %}