{% extends "appOne/index.html" %}
{% load staticfiles %}

{% block body_block %}
<div class="container">
    <div class="jumbotron">
        <h1>List of modules taken</h1>
            {% load index %}
            {% for module in modules_taken %}
                <h3>{{module.module_name}}</h3>
                {% for chapter in chapters_all_mods|index:forloop.counter0 %}
                    <h5>{{ chapter.chapter_name }}</h5>
                {% endfor %}
            {% endfor %}
    </div>
  </div>
{% endblock %}